@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --mainColor: #fdfdfd;
    --darkColor: #0c1618;
    --lightDarkColor: #132326;
    --fontColor: #7a7a7a;
    --darkWhite: #e8eced;
    --linkBlue: #057afc;
    --red: #ff0000;
    --blurple: #454fbf;
    --darkGrey: #333;
    --green: rgb(22, 174, 22);
    --nav-text-color: #242424;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
    background-color: var(--mainColor);
    color: var(--fontColor);
    font-family: "Poppins", sans-serif;
}

/*  HEADER DESIGN*/

header nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav .brand {
    font-size: 2em;
    font-weight: 800;
    color: var(--darkColor);
}

nav .nav__link {
    color: var(--nav-text-color);
    padding: 0.125rem;
    text-decoration: none;
}

/*	LANDING PAGE DESIGN	*/

main {
    padding: 0 auto;
}

#landing {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    
    justify-content: center;
    align-items: center;

    height: 38rem;

    gap: .25rem;

    background-color: var(--darkWhite);
}

#landing .title {
    font-weight: 700;
    font-size: 1.75rem;
}

#landing .description {
    font-weight: 400;
    font-size: 1.075rem;
}

#landing .landing-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.075rem;

    padding: .6rem;
    border-radius: 1.25rem;
    transition: all 250ms;
}

#landing .landing-link:hover {
    background-color: #d2d7e7;
}

/*  FOOTER DESIGN */

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 100px;
    background-color: var(--darkColor);
}

footer p {
    text-align: center;
    color: #afb3b4;
}


/*	RESPONSIVE DESIGN 	*/

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 900px) {
    #landing {
        padding: 0;
        hyphens: auto;
    }
}

@media screen and (max-width: 800px) {
    #landing {
        padding: 1.65rem;
    }

    #landing .title,
    .description {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 660px) {
    #landing {
        padding: 1.25rem;
    }
}

@media screen and (max-width: 550px) {
    #landing {
        padding: 1.25rem;
    }
}


